.flex {
  display: flex;
  align-items: center;
  &.between {
    justify-content: space-between;
  }
  &.end {
    justify-content: flex-end;
  }
  &.start {
    justify-content: flex-start;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.al-start {
  align-items: flex-start;
}
.al-end {
  align-items: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.al-strtch {
  align-items: stretch;
}

.column {
  flex-direction: column;
}
.inlineb {
  display: inline-block;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

$sizes: (
  "1": 0.25rem,
  "2": 0.5rem,
  "4": 1rem,
  "8": 2rem
);

@each $label, $size in $sizes {
  .mb-#{$label} {
    margin-bottom: $size;
  }
  .mr-#{$label} {
    margin-right: $size;
  }
}

.px-4 {
  padding: 0 1rem;
}
