.splash {
  opacity: 1;
  display: flex;
}

.bg {
  display: none;
}

.logo {
  height: 110px;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2rem;
  margin-bottom: 7px;
}

.description {
  color: var(--gray-500);
  font-size: 1.0625rem;
  line-height: 1.25rem;
}

.elixir {
  margin-bottom: 50px;
}

mat-label {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 0.25rem;
}

.login {
  min-height: 81px;
}

.description,
mat-label,
.login,
button {
  width: 100%;
  max-width: 380px;
}

.poweredBy {
  margin-top: 65px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.version::after {
  bottom: 3px;
}

@media (min-width: 800px) {
  .loginFrame {
    display: flex;
  }

  .form {
    box-shadow: var(--shadow);
    width: 33.33%;
    position: relative;
  }

  .bg {
    display: block;
    width: 66.66%;
  }
}
