<ng-container *ngIf="loginDisplay == null || loginDisplay == true">
  <post-auth-loading></post-auth-loading>
</ng-container>

<form *ngIf="loginDisplay == false" class="loginFrame h-100 w-100" (ngSubmit)="connect()">
  <div class="form center column h-100 w-100">
    <img class="logo" src="assets/images/logo.png" alt="logo" />
    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, possimus.</p>

    <mat-label>Servier e-mail<sup>*</sup>: </mat-label>
    <mat-form-field class="login mb-1" appearance="outline">
      <input placeholder="email" type="email" matInput [formControl]="userNameCtrl" />
      <mat-error *ngIf="userNameCtrl.hasError('required')"> E-mail <strong>obligatoire</strong> </mat-error>
      <mat-error *ngIf="userNameCtrl.hasError('wrongMail')"> Connectez-vous avec une adresse e-mail<strong> Servier ou Biogaran</strong> </mat-error>
    </mat-form-field>

    <button
      aria-label="login azure"
      class="btnEnabledWithCondition minRad"
      data-cy="loginBtn"
      matRipple
      [matRippleDisabled]="userNameCtrl.invalid"
      [ngClass]="{ enabled: userNameCtrl.valid }"
    >
      Connexion
    </button>
    <sponsor class="poweredBy"></sponsor>
  </div>
  <img class="h-100 bg" src="assets/images/login-bg.png" alt="bg" />
  <div class="footer version" attr.data-version="v_{{ version }}"></div>
</form>
